:root {
    --border: 1px solid black;
    --main-color: rgb(19, 136, 4);
    --second-color: #65735b;
    --third-color: rgb(213,224,213)
}
// * {
//     border: var(--border);
// }
body {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Neue Montreal Medium';

    
    
}
.caret {
    width: 12px;
    height: min-content; 
}
a {
    text-decoration: none;
    font-weight: 500;
}
input:focus {
    outline: none;
}
.container {
    display: flex;
    width: 1137px;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    
    
}
.nav-container {
    width: 100%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 999;
    background-color: rgb(255,255,255);
    
}
.nav {
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: -10px auto;
    .logo {
        position: relative;
        z-index: 10;
        color: var(--main-color);
        h1 {
            
            font-size: 34px;
            letter-spacing: -3px;
        }
    }
    .list-services {
        display: flex;
        align-content: center;
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            

            .f {
                position: relative;
                z-index: 9;
                display: flex;
                align-items: center;
                list-style: none;
                margin-right: 15px;
                cursor: pointer;
                a {
                    margin-right: 4px;
                    color: var(--second-color);
                }
            
            }
            li:hover {
                a {
                    color: var(--main-color);
                }
                .caret {
                    transform: rotate(180deg);
                }
            }
        }
// =================================================================================================================================================================================
.active {
    background-color: rgba(215, 238, 215, 0.836);
}
.pseudo-cont {
    
    display: flex;
    
    position: absolute;
    background-color: white;
    top: 35px;
    width: 1780px;
    left: -375px;
    border-bottom: 2px solid rgba(120, 116, 116, 0.496);
    padding: 100px 300px 40px;
    
    .line {
        position: absolute;
        z-index: 9;
        left: -275px;
        height: 0.1px;
        background-color: #a2aa9d28;
        top: 27.1px;
        margin-bottom: 20px;
    }
    
    .text {
    display: flex;
    align-items: center;
    padding: 14px 19px;
    
    margin-bottom: 5px;
    margin-right: 35px;
    cursor: pointer;
    &:hover {
        background-color: rgba(215, 238, 215, 0.836);
    }
    
        .title {
            margin: 0;
            font-size: 18px;
            color: rgb(0,30,0);
            margin-bottom: 5px;
        }
        .sub-title {
            font-size: 14px;
            margin: 0;
            color: var(--second-color);
        }
        .left-chevron {
            margin-left: 88px;
        }
    }
    
    
    .vert-line {
        width: 2px;
        height: 120px;
        background-color: rgb(213,224,213);
        margin-right: 60px;
    }
    .mid {
        margin-right: 150px;
        .green-line {
            height: 4px;
            width: 60px;
            background-color: rgb(149,223,0);
            
        }
        .h1 {
            margin-bottom: 10px;
            font-size: 18px;
            color: rgb(0,30,0);
            
        }
        .h2 {
            font-size: 13px;
            font-weight: 200;
            margin: 0;
            color: rgb(137,147,129);
            letter-spacing: .5px;
            line-height: 20px
        }
        a {
            font-size: 13px;
            color: rgb(63,184,47);

            &:hover {
                color: rgb(75,139,52);
                text-decoration: underline rgb(60,130,36);
            }
            svg {
                position: relative;
                top: 5px;
                left: 9px;
            }
        }
    }
    .kanan {
        display: flex;
        &1 {
            display: none;
        }
        &2 {
            display: none;
        }
    }
    .right {
        margin-top: 50px;
        .title {
            width: 260px;
            font-size: 16px;
            color: rgba(0, 32, 0, 0.666);
            font-weight: 400;
            line-height: 10px;
        }
    }
    .kanan1 {
        
        .list {
            width: 700px;
            margin-left: -100px;
            box-sizing: border-box;
        }
        .list a {
            width: 150px;
            text-align: center;
            height: 140px;
            border: 1px solid rgb(213,224,213);
            border-radius: 10px;
            float: left;
            margin: 10px 15px;
            &:hover {
                    background-color: rgb(242,247,242);
                }
            img {
                width: 150px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            p {
                display: flex;
                word-wrap: break-word;
                width: 150px;
                margin-top: 0;
                height: 40px;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                color: rgba(0, 32, 0, 0.666);
                
            }
        }
    }
    
    
    
}
.display-none {
    display: none;
}




// ===================================================================================================================================================================================

    }
    .search-bar {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;

        form {
            border: 1px solid var(--third-color);
            padding: 6px 7px 6px 14px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            .search {
                fill: var(--second-color);
            }
            input {
                font-size: 16px;
                width: 200px;
                border: none;
            }
            img {
                margin-right: 3px;
            }
        }
    }
    .account {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;

        a {
            margin-right: 20px;
            color: var(--second-color)
        }
        a:hover {
            color: var(--main-color);
        }
        button{
            padding: 9px 22px;
            border-radius: 100px;
            color: white;
            font-weight: 700;
            background-color: var(--main-color);
            border: 0.99px solid rgba(0, 0, 0, 0);
            cursor: pointer;

            
        }
        button:hover {
            background-color: rgb(76, 102, 70);
            
        }
    }
    
}

.line {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: rgba(157, 168, 155, 0.589);
    position: relative;
    z-index: -1;
    
}
.sub-nav {
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li {
            list-style: none;
            a {
                color: var(--second-color)
            }
            a:hover {
                color: var(--main-color);
            }
            
        }
    }
    
}

.main-content {
    margin: 80px auto 30px;
    width: 100%;
    display: flex;
    
    
    .hero {
        --webkit-text-size-adjust: 100%;
        width: 55%;
        .heading {
            font-size: 80px;
            color: var(--main-color);
            line-height: 70px;
            margin-bottom: 20px;
            letter-spacing: -3px;
            font-weight: 500;
            text-shadow: 10px var(--main-color);


        }
        .paragraph {
            color: var(--second-color);
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .btn button {
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            margin-bottom: 40px;
            
        }
        .btn .talent {
            color: white;
            font-size: 16px;
            font-weight: 600;
            background-color: var(--main-color);
            border: 1px solid rgba(0, 0, 0, 0);
            margin-right: 10px;
        }
        .btn .talent:hover {
            background-color: rgb(76, 102, 70);
        }
        .btn .work {
            color: var(--main-color);
            font-size: 16px;
            font-weight: 500;
            background-color: white;
            border: 1px solid var(--main-color);
            
        }
        .btn .work:hover {
            background-color: rgb(236, 236, 236);
        }
        .sponsor {
            h4 {
                font-size: 16px;
                color: var(--second-color);
                font-weight: 300;
                font-family: 'Noto Sans JP', sans-serif;
                
            }
            .spon-logo {
                img {
                    margin-right: 20px;
                    width: 80px;
                    height: 40px;
                }
            }
        }
    }
    .hero-image {
        width: 45%;
        img {
            text-align: center;
            width: 480px;
            height: 480px;
        }
    }
}

// ---------------------------------------------------------------------------------------------------------

.main-content1 {
    width: 100%;
    
    height: 590px;
    border-radius: 10px;
    background-size: cover;
    background-position-x: 50%;
    box-sizing: border-box;
    --webkit-text-size-adjust: 100%;
    margin: 0 auto;
    background-image: url('../asset/find-talent.webp');
    padding: 27px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    h4 {
        margin: 8px 0 100px;
    }
    h1 {
        line-height: 50px;
        font-family: 'PT Serif', serif;
        font-size: 63px;
        font-weight: 400;
    }
    .flex-content {
        
        display: flex;
        justify-content: space-between;
        .flex-items {
            background-color: rgb(19, 136, 4);
            width: 330px;
            height: 165px;
            padding-left: 10px;
            cursor: pointer;
            border-radius: 10px;
            h2 {
                margin-top: 10px;
                margin-bottom: 50px;
            }
            p {
                font-size: 12px;
                display: flex;
                align-items: center;
                svg {
                    color: white;
                    margin-left: 5px;
                    width: 14px;
                }
            }
        }
        .flex-items:hover {
            background-color: white;
            color: var(--main-color);
            svg {
                color: var(--main-color);
            }

        }
    }
}
// main content 2 -------------------------------------------------------------------------------------------

.main-content2 {
    width: 90%;
    margin: 110px auto;
    display: flex;
    justify-content: space-evenly;

    .left {
        margin-left: 60px;
        h1 {
            margin-top: 0 ;
            margin-right: 80px;
            line-height: 70px;
            font-family: 'PT Serif', serif;
            font-size: 70px;
            font-weight: 500;
        }
        ul {
            padding-left: 0;

            span {
                
                a {
                    color: #807e7e;
                    font-size: 2.2em;
                    line-height: 50px;
                    font-weight: 500;
                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
    .right {
        img {
            border-radius: 10px;
            margin-bottom: 25px;
            width: 457px;
            height: 370px;
        }
        span {
            border: 1px solid var(--second-color);
            border-radius: 14px;
            margin-right: 8px;
            padding: 5px 17px;
            line-height: 40px;
            cursor: pointer;
            a {
                color: #807e7e;
                font-size: 16px;
            }
            &:hover {
                background-color: #b3b3b383;
            }
        }
    }
}
// .it {
//     display: none;
// }
.design {
    display: none;
}
.sales {
    display: none;
}
.writing {
    display: none;
}
.admin {
    display: none;
}
.finance {
    display: none;
}


// main content 3 ----------------------------------------------------------------------------------------------

.main-content3 {
    display: flex;
    
    .bg-img {
        width: 600px;
        height: 634.4px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-image: url(../asset/find-great-work.webp);
    }
    .right-content {
        padding: 30px;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 500px;
        background-color: rgb(34, 82, 214);
        h5 {
            font-size: 22px;
            font-weight: 500;
            font-family: 'Noto Sans JP', sans-serif;
            margin-top: 0;
        }
        h1 {
            margin-top: -20px;
            font-size: 74px;
            line-height: 70px;
        }
        p {
            margin-top: -35px;
            font-size: 18px;
            font-weight: normal;
            font-family: 'Noto Sans JP', sans-serif;
        }
        .line {
            margin-top: 153px;
        }
        .flex-content {
            display: flex;
            p {
                font-size: 16px;
                margin: 0;
                line-height: 20px;
                margin-right: 30px;
                
            }
        }
        a {
            width: max-content;
            display: block;
            margin-top: 30px;
            border: 1px solid rgba(0, 0, 0, 0);
            background-color: white;
            padding: 10px 28px;
            border-radius: 20px;
            color: rgb(34, 82, 214);
        }
    }
}

// main content 4 ========================================================================================

.main-content4 {
    display: flex;
    margin-top: 80px;
    .testimoni {
        margin-right: 20px;
    }
    .heading h1 {
        margin-top: 0;
        font-size: 74px;
        margin-left: 30px;
        font-weight: 600;
    }
    img {
        border-radius: 7px;
        margin-bottom: 35px;
    }
    .testimonial {
        width: 480px;
        
        q {
            font-size: 28px;
            color: rgb(20,168,0);
            font-weight: 500;
            margin-bottom: 30px;
        }
        h5 {
            font-size: 25px;
            font-weight: normal;
            margin-top: 20px;
            margin-bottom: 4px;
        }
        .line {
            width: 360px;
            margin-left: 0;
            background-color: black;
        }
        p {
            font-size: 22px;
            margin: 0;
            color: var(--second-color);
        }
    }
    .left {
        .testimoni {
            margin-left: 200px;
        }
    }
}

// main content 5 =========================================================================

.main-content5 {
    margin-top: 100px;
    display: flex;
    margin-bottom: 70px;
    .left-content {
        width: 50%;
        background-color: var(--main-color);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 30px;
        height: 100%;
        .heading h1 {
            font-size: 70px;
            margin-top: 0;
            line-height: 60px;
            color: white;
            margin-bottom: 180px;
        }
        .flex-content {
            display: flex;
            justify-content: space-between;
            .flex-items {
                width: 250px;
                color: white;
                h4 {
                    margin-bottom: 50px;
                    margin-top: 14px;
                    font-size: 24px;
                }
                p {
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                }
            }
            .left {
                img {
                    width: 30px;
                    
                }
            }
            .right {
                .rating {   
                    display: flex;
                    
                    margin-top: -15px;
                    
                    .num {

                        
                        margin-right: 10px;
                        h4 {
                            margin-top: 14px;
                        }
                    }
                    .star svg {
                        width: 20px;
                        height: 20px;
                        margin-right: -5px;
                        margin-top: 16px;
                        

                    }
                }
            }
        }
        
    }
    .right-content {
        width: 50%;
        
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-repeat: no-repeat;
        background-image: url(../asset/clearly-rated.webp);
    }
}


// main content 6 ===============================================================================

.main-content6 {
    display: flex;
    flex-direction: row;
    
    ul {
        width: 320px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        h1 {
            font-size: 34px;
            line-height: 0;
            color:  var(--third-color);
            cursor: pointer;

            &:nth-child(1){
                color: rgb(20,168,0);
            }
            &:hover {
                color: rgb(19, 136, 4);
            }
            
        }
        span {
            margin-bottom: 10px;
            a {
                font-size: 23px;
                color: var(--second-color);
                &:hover {
                    color: var(--main-color);
                }
            }
        }
    }
    .flex-content {
        &-right {
            display: flex;
            flex-direction: column;
            .list {
                display: flex;

            }
            // set display to flex to showing the content
            .display-flex {
                display: flex;
            }
            .display-none {
                display: none;
            }
            

        }
    }
}


// footer ======================================================================================================================================

footer {
    background-color: rgb(0,30,0);
    padding: 30px 80px;
    margin-top: 100px;
    .footer {
        width: 1130px;
        margin: 0 auto;
        &-flex {
            display: flex;
            
            h5 {
                color: #ffffffb6;
                font-weight: 400;
            }
            ul {
                display: flex;
                flex-direction: column;              
                padding: 0;
                margin-right: 80px;
                margin-bottom: 30px;
                width: 210px;
                
                a {
                    
                    color: #ffffffb6;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: .6px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &-line {
            width: 100%;
            height: .2px;
            background-color: #ffffffb6;
        }
        &-link {
            display: flex;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
                padding: 0;
                li {
                    
                    list-style: none;
                    p {
                        color: #ffffffb6;
                        font-size: 13px;
                    }
                    a {
                        margin-left: 10px;
                        padding: 4px 8px;
                        border: 1px solid #ffffffb6;
                        border-radius: 50%;
                        
                        svg {
                            fill: #ffffffb6;
                        }
                        &:hover {
                            background-color: rgba(245, 245, 245, 0.322);
                        }
                    }
                }
            }
        }
        &-copyright {
            margin-top: 15px;
            display: flex;
            align-items: center;
            .copyright {
                margin-right: 30px;
                color: #ffffffb6;
                font-size: 12px;
            }
            .vertical-line {
                width: .2px;
                height: 20px;
                background-color: #ffffffb6;
                margin-left: 15px;
            }
            .link {
                ul {
                    
                   a {
                       color: #ffffffb6;
                       font-size: 13px;
                       margin-right: 45px;
                       padding: 0;
                    } 
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }



    }
}



